---
const { title } = Astro.props; // Mendapatkan properti title dari Astro.props
// import "../../style.css"; // Import style.css file
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!--  import style.css file from public folder -->
    <!-- <link rel="stylesheet" href="/style.css" /> -->

    <!-- import dari bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <!-- Menampilkan judul halaman -->
  </head>
  <body>
    <!-- memberi nama slot header -->
    <slot name="header" />
    <slot />
  </body>
</html>
