---
console.log("Header ini hanya di render didalam backend astro");
console.log("tidak terlihat di browser client");
---

<h1>Header</h1>

<script>
  console.log("sedangkan header ini akan terlihat di browser client");
</script>
