---
console.log("Header ini hanya di render didalam backend astro");
console.log("tidak terlihat di browser client");
const title: string = "Judul Header";
const description: string = "Deskripsi Header";
---

<h1>Header</h1>

<!-- styling local component -->
<style>
  h1 {
    color: red;
  }
</style>

<!-- script pada astro component  -->
<script>
  const button = document.createElement("button");
  button.textContent = "Click me";
  document.body.appendChild(button);
  button.addEventListener("click", () => {
    alert("Button clicked");
  });
</script>

<!-- mengimport script pada astro component  -->
<script src="../scripts/halo.js"></script>

<!-- mengimport script dari folder public -->
<script is:inline src="/publicscript.js"></script>

<!-- mengimport variabel dari astro component -->
<script define:vars={{ title, description }}>
  console.log(title);
  console.log(description);
</script>
