---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content"; // Mengimport fungsi getCollection dari astro:content
const blogPosts = await getCollection("blog"); // Mendapatkan koleksi blog dari folder blog
---

<MainLayout title="Homepage">
  <h1>Homepage</h1>
  <h2>Slider Posts</h2>

  <ul>
    {
      blogPosts
        .filter((post) => post.data.isPinned)
        .map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
    }
  </ul>

  <h2>Articles</h2>

  <ul>
    {
      blogPosts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</MainLayout>
