---
import Footer from "./components/Footer.astro";
import Header from "./components/Header.astro";
import MainLayout from "./layouts/MainLayout.astro";
---

<MainLayout title="Astro Index">
  <h1>Astro index</h1>
  <a href="/about">About</a>
  <Footer name="Yoga" />
  <Header slot="header" />
</MainLayout>
